.tra{
    width: 40%;
    float: left;
}
.name{
    font-size: 16px;
    font-weight: bold;
}
.anh1{
    width: 100%;
    height: auto;
    margin:3px;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    box-shadow: 0 0 5px gray;
    position: relative;
}
.tieu_de{
    color: gray;
}
.thong_tin_center{
    text-align: center;
}
.nam_moi{
    width: 55%;
    float: right;
    text-align: justify;
}


