.qt{
    width: 90%;
}
img{
    width: 100%;
    height: auto;
    margin:3px;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    box-shadow: 0 0 5px gray;
    position: relative;
}